nav {
    position: fixed;
}

nav a {
    text-align: center;
    display: inline-block;
    font-size: 38pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 2px rgb(209, 45, 127);
    padding: 10px;
}
nav a:link,a:visited {
    color: white;
    text-decoration: none;
    background-color: rgb(19, 19, 19);
}
nav a:hover {
    text-decoration: underline;
}